body {
    margin: 0;
    direction: rtl;
    text-align: right;
    box-sizing: border-box;
}

.pointer {
    cursor: pointer;
}

#banner img {
    display: block;
    width: 100%;
}

#all-foods, #processing-foods, #delivered-foods {
    margin: 0.5rem 1rem;
}

#all-foods input, #all-foods select {
    width: 150px;
}

hr {
    width: calc(100% - 2rem);
    margin: 40px auto 20px;
    height: 1px;
    border: none;
    background: #ddd;
}

.col {
    flex: 0 0 25%;
    max-width: 25%;
    box-sizing: border-box;
    padding: 0.5rem;
}

.food {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.food img {
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.food-info {
    padding: 0.3rem;
    position: relative;
}

.food-info p {
    margin: 0.2rem 0;
}

.food-info span {
    position: absolute;
    left: 0.5rem;
    top: 0.3rem;
    background: #58f;
    width: 2rem;
    border-radius: 50px;
    color: #fff;
    text-align: center;
}

button {
    background: #58f;
    border: none;
    padding: 0.3rem 0.8rem;
    border-radius: 0.2rem;
    color: #fff;
    font-size: 1rem;
}

button[disabled] {
    cursor: none;
    opacity: 0.5;
}

.button-loading {
    position: relative;
    user-select: none !important;
    pointer-events: none !important;
    color: transparent !important;
}

.button-loading:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    -webkit-animation: spin 1s ease infinite;
    -moz-animation: spin 1s ease infinite;
    -o-animation: spin 1s ease infinite;
    animation: spin 1s ease infinite;
}


@-webkit-keyframes spin {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

@-moz-keyframes spin {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

@-o-keyframes spin {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

@keyframes spin {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

@media screen and (max-width: 768px) {
    .col {
        flex: 0 0 50%;
        max-width: 50%;
    }

}
